@charset "UTF-8";

body {
  font-family: Lato;
}

.font-raleway {
  font-family: Raleway;
}

img {
  vertical-align: bottom;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.inner.header-inner {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fas.fa-bolt {
  font-size: 60px;
  float: left;
  color: #c0c0c0;
}

.header-button {
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  float: right;
  text-decoration: none;
  transition: 0.3s;
}

.header-button:hover {
  color: #333;
  transition: 0.3s;
}

.main {
  padding-top: 90px;
}

.theme {
  background-color:#f2f2f2;
  width: 100%;
  padding: 250px 0px;
}

.theme-inner {
  margin: auto;
}

.theme-contents {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.sub-title {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.what-we-can-do {
  background-color: #74cfae;
  width: 100%;
}

.inner.section-inner {
  display: flex;
  padding-top: 50px;
}

.section-title {
 font-size: 24px;
 color: #fff;
 text-align: center;
}

.section-text {
  font-size: 20px;
  margin-top: 35px;
  line-height: normal;
  color: #fff;
  text-align: center;
}

.section-box.title-text {
  margin: 0px auto;
  margin-left: 200px;
}

.our-latest-work {
  background-color: #f2f2f2;
  width: 100%;
}

.our-latest-work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.our-latest-work-contents {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  margin-top: 40px;
}

.our-latest-work-image {
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.our-latest-work-image:hover {
  opacity: 1;
  transition: 0.3s;
}

.our-latest-work-image:nth-child(n+4) {
  margin-top: 80px;
}

.our-latest-work-image:first-child {
  margin-left: 0px;
}

.our-latest-work-image:nth-child(4n) {
  margin-left: 0px;
}

.our-latest-work-inner-bottom {
  margin-top: 90px;
}

.our-latest-work-title {
  color: #333;
  font-size: 24px;
  text-align: center;
}

.our-latest-work-text-box {
  width: 550px;
  margin: auto;
}

.our-latest-work-text {
  color: #333;
  float: left;
  text-align: center;
  line-height: normal;
}

.our-latest-work-button {
  color: #f2f2f2;
  float: left;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 90px;
}

.our-latest-work-button:hover {
  color: #333;
  transition: 0.3s;
}

.our-skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.inner.our-skills {
  text-align: center;
  display: inline-block;
}

.our-skills-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.our-skills-image-text {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.our-skills-image {
  display: inline-block;
  margin-left: 180px;
  text-align: center;
  margin-top: 70px;
}

.our-skills-image:first-of-type {
  margin-left: 0px;
}

.nav {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0;
}

ul.nav-inner {
  text-align: center;
}

ul.nav-inner li {
  list-style-type: none; 
  display: inline-block; 
}

.nav-icon {
  color: #74cfae;
  display: inline-block;
  text-align: center;
  line-height: normal;
  width: 185px;
  padding: 20px 0px;
  font-size: 60px;
  transition: 0.3s;
}

.nav-icon:hover {
  transition: 0.3s;
  background-color: #fff;
  width: 185px;
}

.footer {
  background-color: #74cfae;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
}

.inner.footer-inner {
  margin: auto;
}

.footer-text {
  color: #fff;
  text-align: right;
}

.inner {
  width: 1100px;
  text-align: center;
  margin: auto;
}

.hamburger {
  display: none;
}

/* pad & sp */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .inner.section-inner{
    display: block;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  
  .section-box.title-text  {
    margin-top: 20px;
    margin-left: 0px;
  }

  .our-latest-work-image {
    margin-left: 0px;
    display: block;
  }
  
  .our-latest-work-image:nth-child(5) {
    margin-top: 0px;
  }
  
  .our-latest-work-image:nth-child(6) {
    margin-top: 0px;
  }
  
  .our-latest-work-contents {
    display: block;
  }
  
  .our-latest-work-text{
    float: none;
  }
  
  .our-latest-work-button {
    float: none;
    margin-top: 150px;
    margin-left: 0px;
  }
  
  .our-latest-work-button-box {
    margin-top: 40px;
  }
  
  .our-latest-work-text-box {
    width: 97%;
  }
  
  .our-skills-image {
    display: block;
    margin-left: 0px;
  }
}
/* pad & sp ここまで */

/* pad */
@media screen and (min-width:768px) and (max-width:1199px) {
  .our-latest-work-inner-bottom {
     margin-top: 80px;
  }
 
  .our-latest-work-inner {
    padding-bottom: 90px;
  }

  .our-skills-image {
    margin-top: 88px;
  }

  .our-skills-image:first-of-type {
    margin-top: 40px;
  }

}
/* pad ここまで */

/* sp */
@media screen and (max-width:767px) {
  .header-button {
    display: none;
  }

  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 11px;
    top   : 20px;
    width : 52px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
  }

  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 3px ;
    left    : 10px;
    background : #ddd;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out; 
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }

  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme-contents {
    font-size: 80px;
  }

  .sub-title {
    font-size: 30px;
  }

  .nav-icon {
    display: block;
    margin: auto;
    width: 100%;
  }

  .nav {
    padding: 50px 0px
  }

  .nav-icon:hover {
    width: 100%;
  }

  ul.nav-inner li {
    display: block;
  }

}
/* sp ここまで */
